<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="fg">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" [value]="ingredient?.name" formControlName="name" id="name" class="form-control">
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" [value]="ingredient?.amount" formControlName="amount" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="fg.invalid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>